<div class="container">
  <div class="row" *ngFor="let project of projects" (click)="selectProject(project)" [class.active]="project === selectedProject">
    <div class="card card-block" [routerLink]="['project-details/', project._id]">
      <h4 class="card-title">{{ project.title }}</h4>
      <p class="card-text">{{ project.description }}</p>
      <p> Course: {{ project.course._id }} </p>
      <p> Year: {{ project.course.year }} </p>
      <p *ngFor="let proposer of project.proposer"> Proposer: {{ proposer.user.name }} </p>
      <p> Approved: {{ project.approved }} </p>
      <p *ngFor="let responsible of project.responsible">Responsible: {{ responsible.user.name }} </p>
      <p *ngFor="let advisor of project.advisor"> Advisor: {{ advisor.user.name }} </p>
      <p *ngFor="let examiner of project.examiner"> Examiner: {{ examiner.user.name }} </p>
  <!--    <p *ngIf="!project.examiner" *ngFor="let examiner of project.examiner"> Examiner: None assigned </p>-->
      <p *ngFor="let student of project.student"> Student: {{ student.name }} </p>
      <button [routerLink]="['project-details/', project._id]" class="card-link">See details</button>
    </div>
  </div>
</div>
