<div [routerLink]="['/app-display-project']">
  <h2>Title</h2>
  <h3>Advisor(s):</h3><p>some name</p>
  <h3>Motivation:</h3><p>Nullam sollicitudin quam nec dui condimentum, ut malesuada nunc lacinia. Donec purus metus, blandit at neque sed, dapibus consequat nunc. Suspendisse tincidunt faucibus dui, ac gravida felis tempor id. Aliquam erat volutpat. Sed quis vestibulum risus, id pharetra odio. Donec eu porta odio.</p>
  <h3>Objective:</h3><p>In nec lorem vitae arcu tempor tincidunt fermentum ac mauris. Vestibulum convallis, orci ac faucibus ullamcorper, magna odio ornare mauris, a tempor urna justo vitae lorem. Sed consectetur, ipsum vel porta commodo, ipsum est mollis arcu, quis commodo nisl enim euismod elit.</p>
</div>
<div>
  <h2>Title</h2>
  <h3>Advisor(s):</h3><p>some name</p>
  <h3>Motivation:</h3><p>Nullam sollicitudin quam nec dui condimentum, ut malesuada nunc lacinia. Donec purus metus, blandit at neque sed, dapibus consequat nunc. Suspendisse tincidunt faucibus dui, ac gravida felis tempor id. Aliquam erat volutpat. Sed quis vestibulum risus, id pharetra odio. Donec eu porta odio.</p>
  <h3>Objective:</h3><p>In nec lorem vitae arcu tempor tincidunt fermentum ac mauris. Vestibulum convallis, orci ac faucibus ullamcorper, magna odio ornare mauris, a tempor urna justo vitae lorem. Sed consectetur, ipsum vel porta commodo, ipsum est mollis arcu, quis commodo nisl enim euismod elit.</p>
</div>
<div>
  <h2>Title</h2>
  <h3>Advisor(s):</h3><p>some name</p>
  <h3>Motivation:</h3><p>Nullam sollicitudin quam nec dui condimentum, ut malesuada nunc lacinia. Donec purus metus, blandit at neque sed, dapibus consequat nunc. Suspendisse tincidunt faucibus dui, ac gravida felis tempor id. Aliquam erat volutpat. Sed quis vestibulum risus, id pharetra odio. Donec eu porta odio.</p>
  <h3>Objective:</h3><p>In nec lorem vitae arcu tempor tincidunt fermentum ac mauris. Vestibulum convallis, orci ac faucibus ullamcorper, magna odio ornare mauris, a tempor urna justo vitae lorem. Sed consectetur, ipsum vel porta commodo, ipsum est mollis arcu, quis commodo nisl enim euismod elit.</p>
</div>
<div>
  <h2>Title</h2>
  <h3>Advisor(s):</h3><p>some name</p>
  <h3>Motivation:</h3><p>Nullam sollicitudin quam nec dui condimentum, ut malesuada nunc lacinia. Donec purus metus, blandit at neque sed, dapibus consequat nunc. Suspendisse tincidunt faucibus dui, ac gravida felis tempor id. Aliquam erat volutpat. Sed quis vestibulum risus, id pharetra odio. Donec eu porta odio.</p>
  <h3>Objective:</h3><p>In nec lorem vitae arcu tempor tincidunt fermentum ac mauris. Vestibulum convallis, orci ac faucibus ullamcorper, magna odio ornare mauris, a tempor urna justo vitae lorem. Sed consectetur, ipsum vel porta commodo, ipsum est mollis arcu, quis commodo nisl enim euismod elit.</p>
</div>
<div><h2>Title</h2>
  <h3>Advisor(s):</h3><p>some name</p>
  <h3>Motivation:</h3><p>Nullam sollicitudin quam nec dui condimentum, ut malesuada nunc lacinia. Donec purus metus, blandit at neque sed, dapibus consequat nunc. Suspendisse tincidunt faucibus dui, ac gravida felis tempor id. Aliquam erat volutpat. Sed quis vestibulum risus, id pharetra odio. Donec eu porta odio.</p>
  <h3>Objective:</h3><p>In nec lorem vitae arcu tempor tincidunt fermentum ac mauris. Vestibulum convallis, orci ac faucibus ullamcorper, magna odio ornare mauris, a tempor urna justo vitae lorem. Sed consectetur, ipsum vel porta commodo, ipsum est mollis arcu, quis commodo nisl enim euismod elit.</p>
</div>
