
<header *ngIf="myAuth == true">
  <h1><a [routerLink]="['/']">{{title}}</a></h1>
  <nav>
    <ul>
      <li *ngIf="myAuth == true || auth.authenticated()"><button [routerLink]="['/new-project']">Propose project</button></li>
      <li *ngIf="myAuth == true || auth.authenticated()"><button [routerLink]="['/projects']">All projects <span class="badge">{{sumProjects}}</span></button></li>
    </ul>
  </nav>
</header>

<!-- BUG: karma testsuite does not regconize the element and fails all tests because of it -->
<div class="container view-container">
  <router-outlet></router-outlet>
</div>
