.check {
    font-size: 12px;
    font-style: italic;
}

/*input {
    margin: 10px 0;
}*/

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

form {
    width: 60%;
    margin: 10px;
}