.check {
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

form {
    width: 60%;
    margin: 10px;
}

.button-group-addon {
    padding: 0;
    border: 0;
}

.button-addon {
    height: 34px;
    width: 34px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
