<div *ngIf="project" class="row">
  <div>
    <h2>New Project</h2>
    <h3 *ngIf="submitted">Your project has been recorded.</h3>
  </div>
</div>

<div *ngIf="project" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="project-id">id</label>
      <input class="form-control" name="project-id" [(ngModel)]="project._id" placeholder="Title" />
    </div>
    <div class="form-group">
      <select class="form-control" name="project-course" [(ngModel)]="project.course">
        <label for="project-course">Course</label>
        <option value="DATBAC">DATBAC</option>
      </select>
    </div>

<!--    <div class="form-group">
      <select class="form-control" name="project-year" [(ngModel)]="project.course.year">
        <label for="project-title">Year</label>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
      </select>
    </div>-->

    <div class="form-group">
      <label for="project-title">Title</label>
      <input class="form-control" name="project-title" [(ngModel)]="project.title" placeholder="Title" />
    </div>

    <div class="form-group">
      <label for="project-advisors">Description</label>
      <input class="form-control" name="project-description" [(ngModel)]="project.description" placeholder="Description"/>
    </div>

    <div class="form-group">
      <label for="project-proposer">Proposer (Employee no.)</label>
      <input type="number" class="form-control" name="project-proposer" [(ngModel)]="project.proposer" placeholder="Proposer" />
    </div>

    <div class="form-group">
      <label for="project-importantCourses">Responsible (Employee no.)</label>
      <input type="number" class="form-control"name="project-responsible" [(ngModel)]="project.responsible" placeholder="Responsible" />
    </div>

    <div class="form-group">
      <label for="project-background">Advisor (Employee no.)</label>
      <input type="number" class="form-control" name="project-advisor" [(ngModel)]="project.advisor" placeholder="Advisor"/>
    </div>

    <div class="form-group">
      <label for="project-motivation">Student(s) (Student no.)</label>
      <input type="number" class="form-control" name="project-student" [(ngModel)]="project.student" placeholder="Student(s)"/>
    </div>

  </form>
  <button (click)="createProject(project)">Create Project</button>
</div>
